<launch>

    <param name="robot_description" value="$(find ddbot_description)/urdf/robot.urdf" />
    
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model ddbot -file $(find ddbot_description)/urdf/robot.urdf" respawn="false" output="screen" />

</launch>