<launch>

    <param name="/lidar/zero_position" type="double" value="1.68"/>
    <param name="/lidar/speed" type="double" value="12.555"/>
    <param name="/lidar/frame_id" type="str" value="base_footprint"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ddbot_run)/rviz/tf_lidar.rviz" required="true"/>
    <include file="$(find ddbot_teleop)/launch/teleop_keyboard.launch"/>

    <machine
        name="robot"
        address="ddbot"
        user="ubuntu"
        env-loader="/home/ubuntu/setup_ros.bash"
        default="true"
    />
    
    <include file="$(find ddbot_control)/launch/ddbot_control.launch"/>

    <node pkg="ros_lidar" type="lidar_laserscan_publisher.py" name="lidar_laserscan_publisher" args="lidar" required="true">
        <remap from="/lidar/port_lidar_sensor" to="/peripherials_ports/lidar_sensor" />
        <remap from="/lidar/port_motor" to="/peripherials_ports/arduino_lidar" />
    </node>

</launch>