<launch>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ddbot_run)/rviz/tf.rviz"/>

    <node pkg="tf" type="static_transform_publisher" name="lidar_tf_broadcaster" args="0 0 0 0 0 0 1 lidar 100"/>

    <node pkg="tf" type="static_transform_publisher" name="world_tf_broadcaster" args="0 0 0 0 0 0 1 world 100"/>

    <arg name="speed" default="12.566" /> <!-- 4 revolutions per second -->

    <include file="$(find ddbot_teleop)/launch/teleop_keyboard.launch"/>

    <machine
        name="robot"
        address="ddbot"
        user="ubuntu"
        env-loader="/home/ubuntu/setup_ros.bash"
        default="true"
    />
    
    <include file="$(find ddbot_control)/launch/ddbot_control.launch"/>

    <node pkg="ros_lidar" type="lidar_laserscan_publisher.py" name="lidar_laserscan_publisher" args="$(arg speed)" output="screen">
        <remap from="~port_lidar" to="/peripherials_ports/arduino_lidar" />
        <remap from="~port_motor" to="/peripherials_ports/arduino_lidar" />
    </node> 

</launch>