<launch>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" required="true">
    <remap from="~port" to="/peripherials_ports/arduino_wheels" />
  </node>

  <node name="ddbot_base"  pkg="ddbot_base" type="ddbot_base" required="true"/>

  <rosparam file="$(find ddbot_control)/config/ddbot_control.yaml" />

  <node name="ddbot_base_controler"  pkg="controller_manager" type="spawner" args="mobile_base_controller" required="true"/>

</launch>